.songBox {
    margin: .1rem .15rem;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            .order {
                font-size: .15rem;
                color: #999;
            }

            .titleBox {
                .title {
                    font-size: .14rem;
                    color: #333;
                }

                .doc {
                    font-size: .12rem;
                    color: #999;
                    display: flex;
                    align-items: center;

                    .vip {
                        border-radius: .03rem;
                        border: red solid .01rem;
                        padding: .02rem .05rem;
                        color: red;
                    }
                }
            }
        }
    }
}
