.emptyBanner {
    text-align: center;
    margin: 0 .15rem;
    height: 1.5rem;
    border-radius: .1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
	justify-content: center;
	background-color: #eaeaea;
	font-size: .14rem;
	color: #bbbbbb;
}

.bannerBox {
    margin: 0 .15rem;
    height: 1.5rem;
    border-radius: .1rem;
    overflow: hidden;

    .banner {
        width: auto;
        height: 1.5rem;
        background-size: auto 1.5rem;
        background-position: center center;
        // background-color: red;
        position: relative;

        .tigs {
            position: absolute;
            right: 0;
            bottom: 0;
            height: .2rem;
            padding: 0 .08rem;
            background-color: rgba(255, 24, 24, .6);
            font-size: .12rem;
            border-radius: .1rem 0 0 0;
            color: #ffffff;
            display: flex;
            align-items: center;
        }
    }
}
