@import '../../assets/style/public.less';

.headBox {
    display: flex;
    margin: 0 .15rem;
    padding: .1rem 0;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        align-items: center;

        .name {
            color: #999999;
            font-size: .14rem;
            margin-left: .05rem;
        }
    }
}
