@import '../../assets/style/public.less';

.headBox {
    display: flex;
    margin: 0 .15rem;
    padding: .1rem 0;
    justify-content: space-between;
    align-items: center;


}

.navbarBox {
    width: 100%;
    height: .45rem;

    .navbar {
        width: 100%;
        height: .45rem;
        background-color: #FFFFFF;
        position: fixed;
        left: 0;
        top: 0;
        color: #333;

        .buttonLeftIcon,
        .buttonRightIcon {
            font-size: .22rem;
        }

        .buttonLeftTest {
            font-size: .18rem;
        }

        .childrenBox {
            width: 100%;

            .findBox {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #f3f3f3;
                color: #dbdbdb;
                height: .3rem;
                border-radius: .15rem;
                font-size: .14rem;

                .icon {
                    transform: translate(0, .01rem);
                }

                .test {
                    margin-left: .05rem;
                }
            }

            .searchBox {
                :global {
                    .adm-search-bar {
                        --padding-left: .08rem;
                        --height: .3rem;
                        --background: #f3f3f3;
                        --border-radius: .15rem;
                        overflow: hidden;

                        .adm-input {
                            --font-size: .15rem;
                        }
                    }
                }
            }
        }

        :global {
            .adm-nav-bar {
                height: .45rem;
                padding: 0 .15rem;

                .adm-nav-bar-left {
                    flex: none;

                    .adm-nav-bar-back {
                        margin-right: 0;
                        padding: 0;

                        .adm-nav-bar-back-arrow {
                            margin-right: 0;
                        }
                    }
                }

                .adm-nav-bar-title {
                    font-size: .16rem;
                    padding: 0 .1rem;
                    display: flex;
                    flex: 1;
                    ;
                    justify-content: center;
                    align-items: center;
                }

                .adm-nav-bar-right {
                    flex: none;
                }
            }
        }
    }
}

.popupLeft {
    display: flex;
    align-items: center;

    .name {
        color: #999999;
        font-size: .14rem;
        margin-left: .05rem;
    }
}
