.headBox {
    display: flex;
    height: .6rem;
    margin: 0 .15rem;
    padding: .2rem 0;
    position: relative;
    z-index: 1;
    justify-content: space-between;

    .left {
        .more {
            width: .6rem;
            height: .6rem;
            background: url('./icon/more.png') left center no-repeat;
            background-size: .4rem auto;
        }
    }

    .center {
        width: 4rem;
        height: .6rem;
        border-radius: .3rem;
        background: #ffffff url('./icon/find.png') .1rem center no-repeat;
        background-size: .3rem auto;
        box-sizing: border-box;
        padding-left: .5rem;
        color: #8e8e8e;
		display: flex;
		align-items: center;
    }

    .right {
        width: .6rem;
		font-size: .16rem;
    }
}

.sidebarStyle {
    width: 100%;

    :global {
        .am-drawer-sidebar {
            width: 80%;
            background-color: #fff;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
}
