.playerBox {
    width: 100%;
    height: .5rem;

    .playerFixed {
        background-color: #f3f3f3;
        width: 100%;
        height: .5rem;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;

        .imgBox {
            display: flex;
            align-items: center;
			margin-left: .15rem;
            .img {
                width: .4rem;
                height: .4rem;
                border-radius: 50%;
                overflow: hidden;
                border: #ffffff solid .03rem;
                margin-right: .1rem;
				img {
					width: .4rem;
					height: auto;
				}
            }

            .name {
                font-size: .14rem;
            }
        }
		.player {
			margin-right: .2rem;
			display: flex;
			align-items: center;
		}
    }
}
